/* Variables */
:root {
  --background-gris: #1b2127;
  --gris-oscuro: #1d252c;
  --gris-claro: #fafafa;
  --strong-color: #026fff;
  --color-claro: #ffffff;
  --color-azul: #056fff;
}

/* Gracias a eso podemos crear tipos de fuentes personalizadas */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?w92q4x");
  src: url("../fonts/icomoon.eot?w92q4x#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?w92q4x") format("truetype"),
    url("../fonts/icomoon.woff?w92q4x") format("woff"),
    url("../fonts/icomoon.svg?w92q4x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* el selector class^="icon-" selecciona a todos los que tengan una clase que empiece con icon y el segundo selector class*=" icon-" selecciona a todos los que tengan icon como clase */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e900";
}

/* Globals */
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}
h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 38px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: var(--color-claro);
  margin: 0;
}
h1 strong {
  color: var(--strong-color);
}
h2 {
  text-transform: uppercase;
  color: var(--strong-color);
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.video {
  width: 100%;
  height: auto;
}
.flex-iframe {
  width: 100%;

  padding-top: 56.25%;
  background-color: #f3fbff;
  position: relative;
}
.youtube-video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.burger-button {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  top: 0.5rem;
  left: 0.5rem;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}

/* Header */
.header {
  height: 70px;
  background-color: var(--background-gris);
  color: var(--color-claro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.menu {
  height: inherit;
}
.header ol {
  height: inherit;
  display: flex;
}
.header ol li {
  height: inherit;
}
.header a {
  height: inherit;
  display: flex;
  align-items: center;
  color: var(--color-claro);
  text-decoration: none;
  padding: 0 10px;
}
.header a.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}
.header .logo span {
  display: inline-block;
  width: 100%;
}

/* Hero */
.hero {
  height: 300px;
  background-color: var(--background-gris);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-image {
  object-fit: cover;
}

/* Portfolio */
.portfolio {
  background-color: var(--gris-claro);
  padding: 20px;
}
.project {
  background-color: var(--color-claro);
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-details {
  width: 50%;
}
.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
  font-size: 16px;
}
.project-url a {
  text-decoration: none;
  color: var(--strong-color);
}
.project-course {
  font-weight: lighter;
}
.project-description {
  font-size: 20px;
}
.project-image-wrapper {
  width: 50%;
  max-height: 270px;
  overflow-y: hidden;
}
.project-image-wrapper img {
  max-width: 100%;
  object-fit: contain;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
}

/* Experience */
#experiencia {
  padding: 0 20px;
}
.experience-title {
  margin-bottom: 20px;
}
.experience {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-evenly;
}
.event {
  background-color: #f4fbff;
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.event-details {
  margin: 20px 40px;
  margin-top: -40px;
  border-radius: 5px;
  background-color: var(--color-claro);
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description {
  text-align: center;
}
.event-url {
  border: 1px solid var(--color-azul);
  text-decoration: none;
  padding: 5px 20px;
  color: var(--color-azul);
  border-radius: 5px;
}
.event img {
  width: 480px;
  height: 270px;
  object-fit: cover;
}

/* Contact */
.contact {
  background-color: var(--color-azul);
  color: var(--color-claro);
  /* height: 150px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.form-email input {
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 32px;
  outline: none;
  background-image: url("../images/envelope.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button {
  cursor: pointer;
  display: block;
  font-size: 15px;
  border: 1px solid var(--color-claro);
  color: var(--color-claro);
  outline: none;
  background: transparent;
  width: 100px;
  border-radius: 5px;
  padding: 10px 0;
  margin: 10px 0;
}
.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 15px;
}
.social-link:first-child {
  margin-left: 0;
}
.social-link:last-child {
  margin-right: 0;
}
.social-link.twitter {
  background-image: url("../images/twitter.svg");
}
.social-link.facebook {
  background-image: url("../images/facebook.svg");
}
.social-link.github {
  background-image: url("../images/github.svg");
}
.social-link.linkedin {
  background-image: url("../images/linkedin.svg");
}

/* Footer */
.footer {
  background-color: var(--background-gris);
  color: var(--color-claro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer img {
  vertical-align: middle;
}
.footer p {
  padding: 0 20px;
}
.footer a {
  color: var(--color-claro);
  font-style: unset;
  text-decoration: none;
}

/* Desktop First que empieces desde el media querie más grande*/
/* lo pixeles que se toman como referencia para hacer los media queries se les conoce como breakpoints */
/* Hay ciertas medidas estándar que son estas */

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.4rem;
    margin: 0.5em 0;
  }
  .burger-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header .logo span {
    text-align: center;
  }
  .menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
  }
  .menu.active {
    left: 0;
  }
  .header ol {
    /* initial es el valor por defecto del elemento */
    display: initial;
  }
  .header ol li {
    height: 5rem;
    text-align: center;
  }
  .header a {
    justify-content: center;
    font-size: 2em;
    font-family: "Fjalla One", sans-serif;
  }

  .portfolio {
    padding: 0;
  }
  #experiencia {
    padding: 0;
    margin-top: 1rem;
  }
  .project {
    display: block;
  }
  .project-image-wrapper {
    width: auto;
    text-align: center;
  }
  .project-details {
    width: auto;
    font-size: 16px;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: 0.3em 0;
  }
  .project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project-url {
    font-size: 1em;
  }
  .project-course {
    font-size: 0.7em;
  }
  .project-date {
    font-size: 1em;
  }
  .project-description {
    font-size: 1em;
  }
  .event {
    width: auto;
    /* initial representa el valor por defecto que es 1 */
    flex-shrink: initial;
  }
  .event img {
    width: 100%;
  }
}
@media screen and (max-width: 697px) {
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .social-link {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
  .contact {
    height: auto;
    padding: 1em 0.5em;
    text-align: center;
    display: block;
  }
  .form-email button {
    margin: 1.5em auto;
    font-size: 13px;
  }
  .form-email h3 {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .project-details {
    width: auto;
    font-size: 14px;
  }
  .event-details {
    margin: -2.5em 0.5em 0.5em;
    padding: 1em;
  }
  .contact {
    height: auto;
    padding: 1em 0.5em;
    text-align: center;
    display: block;
  }
  .form-email button {
    margin: 1.5em auto;
    font-size: 13px;
  }
  .form-email h3 {
    margin-top: 0;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .social-link {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}
@media screen and (max-width: 320px) {
  .hero {
    padding: 2em 0.8em;
  }
  h1 {
    font-size: 1.2em;
  }
  .project-details {
    width: auto;
    font-size: 16px;
  }
  .header a {
    font-size: 1.5em;
  }
}
